doctype html
html(lang="en")
  head
    title Hapi Setup
  body
    header
      div.header__logo
        img(src= "http://hapijs.com/public/img/logo.svg")
      div.header__content
        h1 This is your hapi-setup!
        em Use this page to get a quick view of all the important configuration settings used in the currently running hapi server.
    main
      div.configuration
        include ./runtime
      div.configuration
        include ./connections
    
      include ../../build/script
