.configuration
  col (1/2)
  margin-top 1em

  &:nth-of-type(2)
    margin-right 0

.config__heading
  padding 1em
  background-color $grey-dark
  border-radius 1em 1em 0 0
  color $white

.config__body
  background-color lighten($blue-light, 40%)
  border-radius 0 0 1em 1em

.list--lined
  margin 0
  padding 0
  list-style-position inside

  li
    padding 1em 2em
    border-bottom 1px solid $white

    &:last-of-type
      border none
      padding-bottom 2em

.list--lined-orange
  @extend .list--lined
  background-color $orange-dark