body
  background-color $tan
  color $grey-dark

  +above(1540px)
    center(80%)

header
  padding 1em

  &:after
    content ""
    display table
    clear both

.header__logo
  float none
  width 200px
  margin 0 auto

  +desktop()
    float left

  img
    width 100%

.header__content
  margin 0 auto
  text-align center

  +desktop()
    margin-left 240px
    text-align left

main
  padding 1em